<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mapper.MenuMapper">
	<select id="count" parameterType="map" resultType="int">
		select count(*) from menu
		<if test="searchtype != null and searchcontent != null">
			where ${searchtype} like '%${searchcontent}%'
		</if>
	</select>
	<select id="list" parameterType="map" resultType="Menu">
		select menuNo, menuName, mprice, content, category, star,img imgurl from menu
		<if test="menuNo != null">
			where menuNo = #{menuNo}
		</if>
<!-- ${} => 값만 출력, #{} => 자료형도 함께 출력 -->
		<if test="searchtype != null and searchcontent != null">
			where ${searchtype} like '%${searchcontent}%'
		</if>
	</select>
	
	<select id="list2" parameterType="map" resultType="Menu">
		select menuNo, menuName, mprice, content, category, star,img imgurl from menu
		<if test="menuNo != null">
			where menuNo = #{menuNo}
		</if>
	</select>
</mapper>